/* ページ全体リセット */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* アプリ全体レイアウト */
#app {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}

/* プロッター用キャンバスコンテナ */
#canvas-container {
  flex: 4;
  position: relative;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

#reserved-link {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: grey;
  font-size: 12px;
  text-decoration: none;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

#legend-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: black;
  font-size: 10px;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

/* サイドメニュー */
#side-menu {
  flex: 1;
  background: #f0f0f0;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
}
#side-menu p {
  margin: 8px 0;
}

/* キャンバスの見た目とアスペクト比 */
canvas {
  width: 100%;        /* 親要素幅にフィット */
  aspect-ratio: 1 / 1; /* 縦横比1:1 */
}